* {
  font-family: "Montserrat", sans-serif;
}
h1 {
  letter-spacing: 4px;
  color: blueviolet;
  text-decoration: underline;
}

body {
  margin: 20px;
}

#submitbtn {
  font-size: 25px;
  background-color: blueviolet;
  color: white;
}

#submitbtn:hover {
  background-color: white;
  color: black;
  border: 2px solid blueviolet;
  cursor: pointer;
}

.answer{
  color: blueviolet;
}

#thanks{
  color: rgb(23, 167, 99);
  letter-spacing: 2px;
  display: none;
}



